<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<div class="container">
  <form name="game" (ngSubmit)="start()">

    <div class="form-group row" *ngIf="!game.state">
      <label for="usename" class="col-sm-2 col-form-label">Username</label>
      <div class="col-sm-10">
        <input type="string" class="form-control" id="username" placeholder="Username" name="username" [(ngModel)]="game.username" >
      </div>
    </div>

    <h2 *ngIf="game.state">
      <span [innerHTML]="game.username" class="name"></span>
      <span> is playing</span>
    </h2>

    <div class="form-group row">
      <div class="offset-sm-2 col-sm-10">
        <button type="submit" class="btn btn-primary" *ngIf="!game.state">Play</button>
        <button type="button" class="btn btn-default" (click)="end()" *ngIf="game.state">Stop</button>
      </div>
    </div>

  </form>
</div>

<div class="row">
  <div class="col-md-2">

    <svg height="800" width="1200">
      <circle id="ball1" class="ball empty" cx="200" cy="120" r="100"/>
      <circle id="ball2" class="ball empty" cx="600" cy="120" r="100"/>
      <circle id="ball3" class="ball empty" cx="1000" cy="120" r="100"/>

      <circle id="ball4" class="ball empty" cx="400" cy="340" r="100"/>
      <circle id="ball5" class="ball empty" cx="800" cy="340" r="100"/>

      <circle id="ball6" class="ball empty" cx="600" cy="560" r="100"/>
    </svg>
  </div>
</div>


